body{
    background-image: url(tu.jpg);
    background-size: 350%;
    background-repeat: no-repeat;
    top: 300;
}

.discord{
    position: absolute;
    left: 30px;
    top:72%;
    color: rgb(153, 23, 179);
    background-color: rgb(199, 195, 159);
    box-shadow: 0px 20px 50px;
}

@media screen and (max-widht: 1200px) {
    h1 {
        font-size: 56px;
    }
}

@media screen and (max-widht: 998px) {

}
    h1 {
        font-size: 46px;
    
}

@media screen and (max-widht: 768px) {

}
    h1 {
        font-size: 28px;
    
}

@media screen and (max-widht: 576px) and (max max-height: 300px) {

}
    h1 {
        font-size: 24px;
    
}
.home{
    position: absolute;
    top: -5px;
    left: -60px;
}
.clawiatyra{
    position: absolute;
    left: 45%;
    top: 70%;
